<section class="container-fluid py-5">
  <div class="row cart-container">
    <div class="col-lg-7 col-md-7">
      <h2>Shopping Cart</h2>
      <div class="course-count">{{totalItems}} Course(s) in cart</div>
      @for (course of coursesInMyCart; track $index) {
      <div class="cart-item">
        <img src="{{ course.image }}" alt="{{ course.title }}" />
        <div class="cart-info">
          <div class="title-row">
            <span class="discount">- $ {{ course.discount }}</span>
            <span class="title">{{ course.title }}</span>
          </div>
          <div class="instructor">{{ course.author }}</div>
          <div class="details">
            <span>★★★★★</span>
            <span class="extra-info">{{ course?.hours }}           {{ course?.lectures }}</span>
          </div>
          <a style="cursor: pointer;" (click)="removeItemById(course.id)">Remove</a>
        </div>
        <div class="price">$ {{ course.price }}</div>
      </div>
      }
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="summary-box">
        <div class="summary-title">Order Details</div>
        <div class="summary-item">
          <span>Total Price</span>
          <span>${{ totalPrice }}</span>
        </div>
        <div class="summary-item">
          <span>Discount</span>
          <span class="discount-text">- ${{totalDiscount}}</span>
        </div>
        <div class="summary-item">
          <span>Tax</span>
          <span>$20.00</span>
        </div>
        <hr />
        <div class="summary-total">
          <span>Grand Total</span>
          <span>${{ grandTotal.toFixed() }}</span>
        </div>

      </div>
      <button class="checkout-btn mt-4" routerLink="/checkout">Proceed to Checkout</button>
   
    </div>
  </div>
</section>
