@if (course()) {
<div class="course-card">

    <figure>
        <img [src]="course().image" [alt]="course().title">
    </figure>

    @if (course().discount > 0) {
    <div class="discount-badge">${{ course().discount }}</div>
    }
    <div class="d-flex justify-content-between">
        <div class="price-badge">${{ course().price }}</div>
        <div class="category rounded-4 p-1">{{ course().category }}</div>
    </div>
    <h4 class="title">{{ course().title }}</h4>
    <p class="instructor">By {{ course().author }}</p>

    <div class="rating">
        <span class="stars">
            ⭐⭐⭐⭐⭐
        </span>
        <span class="rating-count">({{ course().ratingCount }} Ratings)</span>
    </div>

    <div class="details">
        {{ course().hours }} Total Hours, {{ course().lectures }} Lectures. {{
        course().level }}
    </div>
</div>
}