@import './varibales.scss';

.btn-primary {
    background-color: $primary-button-background;
    color: $main-white;
    // border: none;
    padding: 10px 20px;
    border-radius: $border-radius;
    &:hover {
        transition: $main-transition;
        background-color: $main-white;
        color: $primary-button-background;
        border: 1px solid $primary-button-background;

    }
}

.btn-secondary {
    background-color: $secondary-button-background;
    color: $main-white;
    // border: none;
    padding: 10px 20px;
    border-radius: $border-radius;
    &:hover {
        transition: $main-transition;
        background-color: $main-white;
        color: $secondary-button-background;
    }
}

.btn-third {
    background-color: $main-white;
    color: $primary-button-background;
    padding: 10px 20px;
    border-radius: $border-radius;
    border: 1px solid $primary-button-background;
    &:hover {
        transition: $main-transition;
        background-color: $primary-button-background;
        color: $main-white;
        border: 1px solid $primary-button-background;
    }
}