html,
body {
    height: 100%;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
}

.container-fluid {
  padding-left: 8.333333%;
  padding-right: 8.333333%;
}


html,
body {
  height: 100%;
}


// ::-webkit-scrollbar {
//     width: 7px;
//   }
  
//   ::-webkit-scrollbar-track {
//     background: $lite-color;
//   }
  
//   ::-webkit-scrollbar-thumb {
//     background: $primary-color;
//   }
  
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }
  