@function get-status-color($status) {
    @if $status == 'success' {
      @return green;
    } @else if $status == 'error' {
      @return red;
    } @else {
      @return gray;
    }
  }
  
  .alert {
    color: get-status-color('error');
  }
  
// =============================
// =============================
@function transparentize-color($color, $amount: 0.1) {
    @return rgba($color, 1 - $amount);
}

.box {
    background-color: transparentize-color(#000000, 0.3);
}

// =============================
// =============================

  @function px-to-rem($px, $base-font-size: 16) {
    @return #{$px / $base-font-size}rem;
  }
  
  .my-class {
    font-size: px-to-rem(24);
  }
  