$main-white: #FFFFFF;
$secondary-background: #E4F8FF;
$footer-background: #1E293B;
$secondary-color: #101828;
$primary-color: #00B8FF;
$primary-button-background: #00B8FF;
$secondary-button-background: #808080;
$small-text-color: #777E90;
$gray-color: #334155;
$backGround-card: #E2E8F0;
$border-color: #E2E8F0;
$main-border: 1px solid $border-color;

$primary-shadow-color:rgba(0, 113, 220, 0.10);
$main-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
$default-h1-font-size: 3.5rem;
$default-h2-font-size: 2rem;
$default-h3-font-size: 1.8rem;
$default-h4-font-size: 1.6rem;
$default-h5-font-size: 1.4rem;
$default-h6-font-size: 1.2rem;
$default-span-font-size: 1rem;
$default-p-font-size: 1rem;
$button-font-size: 1.2rem;
$main-transition: .5s ease-in-out;
$warning-color: #F05866;
$warning-color-100: #EC454F;
$border-radius: 0px;
